@model IEnumerable<DataModels.OrderDriver>

@if (Model != null)
{
<table class="table">
    <tr>
        <th>
            Адрес отправления
        </th>
        <th>
            Адрес назначения
        </th>
        <th>
            Время
        </th>
        <th>
            Стоимость
        </th>
    </tr>

    @foreach (var item in Model)
    {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order.DepartureAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.DestinationAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Price)
        </td>
        <td>
            @Html.ActionLink("Взять заказ", "ShowOrder", new { orderId = item.Order.ID, driverId = item.Driver.ID, act = "ShowOrder" })
        </td>
    </tr>
        }


</table>
}
else
{ <h2>На данный момент доступных заказов нет!</h2> }
@Html.ActionLink("Редактировать профиль", "Edit", "Authorization", new { driverId = Model.First().Driver.ID, authId = Model.First().Driver.ID_Auth })
